
#contents {
	margin-right: 310px;
	margin-left: 10px;
        margin-bottom: 100px;
	padding: 20px;
	font-size: 110%;
}


#picture1{
        margin-right: 500px;
	margin-left: 10px;
        margin-bottom: 50px;
}

#picture2{
        margin-right: 500px;
	margin-left: 10px;
        margin-bottom: 100px;
}


#sidebar {
        margin: 10px;
        padding: 20px;
	width: 300px;
        height: 500px;
	float: right;
	clear: right;
}



